<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Google fonts and icons-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='images/logo__walnuts-print-version.svg') }}"
      type="image/x-icon"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsiveIndex.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animation.css') }}">
    <!-- Title icon for the website -->
    <title>Samin</title>
  </head>
  <body>
    <!-- Start building -->

    <!-- Coding for the header of the website -->

    <!-- I will put the main cart here for a moment -->
    <div class="floating-cart floating__cart-go">
      <img src="{{ url_for('static', filename='images/icons/Shopping_Cart_01.svg') }}" alt="Корзина" />
      <span class="floating__cart-counter">0</span>
    </div>
    <!-- I will put the main cart here for a moment -->

    <header class="header">
      <div class="header__container">
        <nav class="nav">
          <div class="header__logos">
            <img
              src="{{ url_for('static', filename='images/logoWalnuts-welcome-page.svg') }}"
              alt="SAMIN логотип"
              class="header__logo"
            />
            <div class="logo__name">
              <h2 class="header__samin">SAMIN</h2>
              <p class="header__statement">
                Открывайте. Побалуйте. Процветайте.
              </p>
            </div>
          </div>
          <button id="toggleBtn">☰ Меню</button>

          <!-- Overlay -->
          <div id="overlay" class="overlay"></div>

          <!-- Sidebar -->
          <div id="sidebar" class="sidebar">
            <button id="closeBtn" class="close-btn">✖</button>
            <ul>
              <li><a href="#section__1"><span>🏡</span> Главная</a></li>
              <li><a href="#section__2"><span>🌟</span> Достоинства</a></li>
              <li><a href="#section__3"><span>🥜</span> Меню</a></li>
              <li><a href="#section__4"><span>💬</span> Отзывы</a></li>
            </ul>
          </div>
          <div class="header__list">
            <ul>
              <li class="header__list-item">
                <a href="#section__1" class="nav__link nav__btn1">Главное</a>
              </li>
              <li class="header__list-item">
                <a href="#section__2" class="nav__link nav__btn2"
                  >Достоинства</a
                >
              </li>
              <li class="header__list-item">
                <a href="#section__3" class="nav__link nav__btn3">Меню</a>
              </li>
              <li class="header__list-item">
                <a href="#section__4" class="nav__link nav__btn4">Отзывы</a>
              </li>
            </ul>
          </div>
          <div class="header__order">
            <img
              src="{{ url_for('static', filename='images/icons/cart__icon.svg') }}"
              alt="Cart"
              class="header__cart"
            />
            <button class="header__button common__button">Заказать</button>
          </div>
        </nav>
      </div>
    </header>

    <!-- Coding for the header of the website -->

    <!-- Coding main section of the website  -->

    <section class="main" id="section__1">
      <div class="main__content">
        <div class="main__pic">
          <img src="{{ url_for('static', filename='images/mainNewPicAssorti 1.png') }}" alt="Nuts" />
        </div>
        <div class="content__right">
          <h1 class="mright__header">Добро пожаловать!</h1>
          <h4 class="mright__statement">
            SAMIN — здесь природа встречается с традициями. От нашей семьи — к
            вашему столу. Только отборные, свежие орехи, наполненные заботой и
            вкусом.
          </h4>
          <div class="mbutton__container">
            <button class="mbutton1 common__button">Заказать</button>
            <button class="mbutton2 common__button">Калькулятор</button>
          </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Coding main section of the website  -->

    <!-- Coding for the commitment section of the website -->

    <section class="section commitment">
      <div class="commitment__content common__container">
        <h1 class="commitment__header">
          Наша приверженность здоровью и благополучию
        </h1>
        <p class="commitment__text">
          В Samin мы увлечены продвижением здорового образа жизни через нашу
          продукцию. Наша миссия — поставлять высококачественные орехи и
          сухофрукты, которые способствуют благополучию наших клиентов.
        </p>
      </div>
    </section>

    <!-- Coding for the commitment section of the website -->

    <!-- Coding for the pros section -->
    <section class="pros section" id="section__2">
      <div class="pros__container common__container">
        <div class="pros-header">
          <h2>Почему стоит выбрать <span class="brand">Samin</span></h2>
          <p>
            Мы стремимся предлагать лучший выбор орехов и сухофруктов,
            гарантируя, что каждый продукт тщательно отбирается и доставляется с
            максимальной осторожностью.
          </p>
        </div>
        <div class="pros-cards">
          <div class="card">
            <img src="{{ url_for('static', filename='images/prosPic1.jpg') }}" alt="Свежие сухофрукты" />
            <h3>Свежесть гарантирована</h3>
            <p>
              Измените свои заказы в соответствии с вашими предпочтениями. Если
              вам нужна определенная смесь орехов или индивидуальная подарочная
              упаковка, мы вам поможем.
            </p>
          </div>
          <div class="card">
            <img
              src="{{ url_for('static', filename='images/prosPic2.jpg') }}"
              alt="Персонализированные сухофрукты"
            />
            <h3>Персонализированные заказы</h3>
            <p>
              Измените свои заказы в соответствии с вашими предпочтениями. Если
              вам нужна определенная смесь орехов или индивидуальная подарочная
              упаковка, мы вам поможем.
            </p>
          </div>
          <div class="card">
            <img src="{{ url_for('static', filename='images/prosPic3.jpg') }}" alt="Калькулятор питания" />
            <h3>Калькулятор Питания</h3>
            <p>
              Откройте для себя идеальное потребление орехов для ваших
              индивидуальных потребностей с помощью нашего инновационного
              калькулятора. Введите свой вес и возраст, чтобы получить
              персонализированные рекомендации.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Coding for the pros section -->

    <!-- Coding for the menu section -->
    <section class="menu section" id="section__3">
      <div class="menu__container common__container">
        <h1 class="menu__header">Заказать</h1>
        <div class="cardsM">
          <!-- coding for the experience card -->
          <div
            class="cardM"
            data-price-500="729"
            data-price-1000="967"
            data-img-500="{{ url_for('static', filename='images/cards__image/kuragaK-2-500.png') }}"
            data-img-1000="{{ url_for('static', filename='images/cards__image/kuragaK-1.png') }}"
          >
            <div class="cardM__slider" id="cardmSlider">
              <img
                class="cardM__slider-img cardM__slider-img-first active"
                src="{{ url_for('static', filename='images/cards__image/kuragaK-1.png') }}"
                alt="Kuraga"
              />
              <img
                class="cardM__slider-img"
                src="{{ url_for('static', filename='images/cards__image/kuragaK-2.png') }}"
                alt="Kuraga"
              />
              <img
                class="cardM__slider-img"
                src="{{ url_for('static', filename='images/cards__image/kuragaK-3.png') }}"
                alt="Kuraga"
              />
              <img
                class="cardM__slider-img"
                src="{{ url_for('static', filename='images/cards__image/kuragaK-4.png') }}"
                alt="Kuraga"
              />
              <img
                class="cardM__slider-img"
                src="{{ url_for('static', filename='images/cards__image/kuragaK-5.png') }}"
                alt="Kuraga"
              />
              <img
                class="cardM__slider-img"
                src="{{ url_for('static', filename='images/cards__image/kuragaPackageEx1.png') }}"
                alt="KuragaPackage"
              />
            </div>
            <div class="cardM__content">
              <div class="cardM__price">967 ₽</div>
              <div class="cardM__title">
                Курага королевская натуральная без сахара...
              </div>
              <div class="cardM__size">
                <button
                  id="cardM__size-500"
                  class="cardM__size-500 cardM__size-button"
                >
                  500гр
                </button>
                <button
                  id="cardM__size-1000"
                  class="cardM__size-1000 cardM__size-active cardM__size-button"
                >
                  1000гр
                </button>
              </div>
              <div class="cardM__stars">★ 4.6 (1200 оценок)</div>
              <div class="cardM__availability">● Доставим по клику</div>
              <button class="card__cart">
                <span class="card__cart-amount"></span>
                <p>в корзину</p>
                <img src="{{ url_for('static', filename='images/Shopping__cart-icon-button.svg') }}" alt="Cart" />
              </button>
            </div>
          </div>

          <!-- Card Number 2 -->
          <div
            class="cardM"
            data-price-1000="989"
            data-img-1000="{{ url_for('static', filename='images/cards__image/gresSamin1.webp') }}"
          >
            <div class="cardM__slider" id="cardmSlider">
              <img
                class="cardM__slider-img cardM__slider-img-first active"
                src="{{ url_for('static', filename='images/cards__image/gresSamin1.webp') }}"
                alt="Walnuts"
              />
              <img
                class="cardM__slider-img"
                src="{{ url_for('static', filename='images/cards__image/gresSamin2.webp') }}"
                alt="Walnuts"
              />
              <img
                class="cardM__slider-img"
                src="{{ url_for('static', filename='images/cards__image/gresSamin3.webp') }}"
                alt="Walnuts"
              />
              <img
                class="cardM__slider-img"
                src="{{ url_for('static', filename='images/cards__image/pinkPagckaging.webp') }}"
                alt="Walnuts"
              />
            </div>
            <div class="cardM__content">
              <div class="cardM__price">1249 ₽</div>
              <div class="cardM__title">
                Грецкие орехи крупные натуральные и свежие...
              </div>
              <div class="cardM__size">
                <button class="cardM__size-1000 cardM__size-button">
                  1000гр
                </button>
              </div>
              <div class="cardM__stars">★ 4.7 (1819 оценок)</div>
              <div class="cardM__availability">● Доставим по клику</div>
              <button class="card__cart">
                <span class="card__cart-amount"></span>
                <p>в корзину</p>
                <img src="{{ url_for('static', filename='images/Shopping__cart-icon-button.svg') }}" alt="Cart" />
              </button>
            </div>
          </div>
          <!-- Card Number 3 -->
          <div
            class="cardM"
            data-price-500="459"
            data-price-1000="759"
            data-img-500="{{ url_for('static', filename='images/cards__image/smesOreh500.webp') }}"
            data-img-1000="{{ url_for('static', filename='images/cards__image/smesOreh-1000.webp') }}"
          >
            <div class="cardM__slider">
              <img
                class="cardM__slider-img cardM__slider-img-first active"
                src="{{ url_for('static', filename='images/cards__image/smesOreh-1000.webp') }}"
                alt="Kiwi"
              />
              <img
                class="cardM__slider-img"
                src="{{ url_for('static', filename='images/cards__image/smesOreh-2.webp') }}"
                alt="Kiwi"
              />
              <img
                class="cardM__slider-img"
                src="{{ url_for('static', filename='images/cards__image/smesOreh-3.webp') }}"
                alt="Kiwi"
              />
              <img
                class="cardM__slider-img"
                src="{{ url_for('static', filename='images/cards__image/orangePackaging.webp') }}"
                alt="Kiwi"
              />
            </div>
            <div class="cardM__content">
              <div class="cardM__price">759 ₽</div>
              <div class="cardM__title">
                Натуральная ореховая смесь орехов и сухофруктов...
              </div>
              <div class="cardM__size">
                <button class="cardM__size-500 cardM__size-button">
                  500гр
                </button>
                <button class="cardM__size-1000 cardM__size-button">
                  1000гр
                </button>
              </div>
              <div class="cardM__stars">★ 4.7 (2810 оценок)</div>
              <div class="cardM__availability">● Доставим по клику</div>
              <button class="card__cart">
                <span class="card__cart-amount"></span>
                <p>в корзину</p>
                <img src="{{ url_for('static', filename='images/Shopping__cart-icon-button.svg') }}" alt="Cart" />
              </button>
            </div>
          </div>
          <!-- Card Number 4 -->
          <div
            class="cardM"
            data-price-1000="599"
            data-img-1000="{{ url_for('static', filename='images/cards__image/sOreh-1000.webp') }}"
          >
            <div class="cardM__slider">
              <img
                class="cardM__slider-img cardM__slider-img-first active"
                src="{{ url_for('static', filename='images/cards__image/sOreh-1000.webp') }}"
                alt="Sukati"
              />
              <img
                class="cardM__slider-img"
                src="{{ url_for('static', filename='images/cards__image/sOreh2.webp') }}"
                alt="Sukati"
              />
              <img
                class="cardM__slider-img"
                src="{{ url_for('static', filename='images/cards__image/sOreh3.webp') }}"
                alt="Sukati"
              />
              <img
                class="cardM__slider-img"
                src="{{ url_for('static', filename='images/cards__image/orangePackaging.webp') }}"
                alt="Sukati"
              />
            </div>
            <div class="cardM__content">
              <div class="cardM__price">599 ₽</div>
              <div class="cardM__title">
                Грецкие орехи в скорлупе Премиум свежий урожай...
              </div>
              <div class="cardM__size">
                <button class="cardM__size-1000 cardM__size-button">
                  1000гр
                </button>
              </div>
              <div class="cardM__stars">★ 4.9 (3309 оценок)</div>
              <div class="cardM__availability">● Доставим по клику</div>
              <button class="card__cart">
                <span class="card__cart-amount"></span>
                <p>в корзину</p>
                <img src="{{ url_for('static', filename='images/Shopping__cart-icon-button.svg') }}" alt="Cart" />
              </button>
            </div>
          </div>
          <!-- Card Number 5 -->
          <div
            class="cardM"
            data-price-1000="454"
            data-img-1000="{{ url_for('static', filename='images/cards__image/izum__1000.png') }}"
          >
            <div class="cardM__slider">
              <img
                class="cardM__slider-img cardM__slider-img-first active"
                src="{{ url_for('static', filename='images/cards__image/izum__1000.png') }}"
                alt="Sukati"
              />
              <img
                class="cardM__slider-img"
                src="{{ url_for('static', filename='images/cards__image/izum1.png') }}"
                alt="Sukati"
              />
              <img
                class="cardM__slider-img"
                src="{{ url_for('static', filename='images/cards__image/izum2.png') }}"
                alt="Sukati"
              />
              <img
                class="cardM__slider-img"
                src="{{ url_for('static', filename='images/cards__image/orangePackaging.webp') }}"
                alt="Sukati"
              />
            </div>
            <div class="cardM__content">
              <div class="cardM__price">599 ₽</div>
              <div class="cardM__title">
                Изюм малаяр сушёные, натуральный и свежий...
              </div>
              <div class="cardM__size">
                <button class="cardM__size-1000 cardM__size-button">
                  1000гр
                </button>
              </div>
              <div class="cardM__stars">★ 5.0 (908 оценок)</div>
              <div class="cardM__availability">● Доставим по клику</div>
              <button class="card__cart">
                <span class="card__cart-amount"></span>
                <p>в корзину</p>
                <img src="{{ url_for('static', filename='images/Shopping__cart-icon-button.svg') }}" alt="Cart" />
              </button>
            </div>
          </div>
          <!-- Card Number 6 -->
          <div
            class="cardM"
            data-price-500="399"
            data-price-1000="699"
            data-img-500="{{ url_for('static', filename='images/cards__image/sukati__500.png') }}"
            data-img-1000="{{ url_for('static', filename='images/cards__image/sukati__1000.png') }}"
          >
            <div class="cardM__slider">
              <img
                class="cardM__slider-img cardM__slider-img-first active"
                src="{{ url_for('static', filename='images/cards__image/sukati__1000.png') }}"
                alt="Sukati"
              />
              <img
                class="cardM__slider-img"
                src="{{ url_for('static', filename='images/cards__image/sukati1.png') }}"
                alt="Sukati"
              />
              <img
                class="cardM__slider-img"
                src="{{ url_for('static', filename='images/cards__image/sukati2.png') }}"
                alt="Sukati"
              />
              <img
                class="cardM__slider-img"
                src="{{ url_for('static', filename='images/cards__image/sukati3.png') }}"
                alt="Sukati"
              />
              <img
                class="cardM__slider-img"
                src="{{ url_for('static', filename='images/cards__image/sukati4.png') }}"
                alt="Sukati"
              />
              <img
                class="cardM__slider-img"
                src="{{ url_for('static', filename='images/cards__image/orangePackaging.webp') }}"
                alt="Sukati"
              />
            </div>
            <div class="cardM__content">
              <div class="cardM__price">599 ₽</div>
              <div class="cardM__title">
                Цукаты сушёные, натуральный и свежий урожай...
              </div>
              <div class="cardM__size">
                <button class="cardM__size-500 cardM__size-button">
                  500гр
                </button>
                <button class="cardM__size-1000 cardM__size-button">
                  1000гр
                </button>
              </div>
              <div class="cardM__stars">★ 4.8 (2010 оценок)</div>
              <div class="cardM__availability">● Доставим по клику</div>
              <button class="card__cart">
                <span class="card__cart-amount"></span>
                <p>в корзину</p>
                <img src="{{ url_for('static', filename='images/Shopping__cart-icon-button.svg') }}" alt="Cart" />
              </button>
            </div>
          </div>
          <!-- Card Number 7 -->
          <div
            class="cardM"
            data-price-500="499"
            data-price-1000="899"
            data-img-500="{{ url_for('static', filename='images/cards__image/tikva500.webp') }}"
            data-img-1000="{{ url_for('static', filename='images/cards__image/ tikvaWalnuts-1000.webp') }}"
          >
            <div class="cardM__slider">
              <img
                class="cardM__slider-img cardM__slider-img-first active"
                src="{{ url_for('static', filename='images/cards__image/ tikvaWalnuts-1000.webp') }}"
                alt="Sukati"
              />
              <img
                class="cardM__slider-img"
                src="{{ url_for('static', filename='images/cards__image/tikvaSamin1.webp') }}"
                alt="Sukati"
              />
              <img
                class="cardM__slider-img"
                src="{{ url_for('static', filename='images/cards__image/tikvaSamin2.webp') }}"
                alt="Sukati"
              />
              <img
                class="cardM__slider-img"
                src="{{ url_for('static', filename='images/cards__image/tikvaSamin3.webp') }}"
                alt="Sukati"
              />
              <img
                class="cardM__slider-img"
                src="{{ url_for('static', filename='images/cards__image/orangePackaging.webp') }}"
                alt="Sukati"
              />
            </div>
            <div class="cardM__content">
              <div class="cardM__price">899 ₽</div>
              <div class="cardM__title">
                Тыквенные семечки натуральные и крупные...
              </div>
              <div class="cardM__size">
                <button class="cardM__size-500 cardM__size-button">
                  500гр
                </button>
                <button class="cardM__size-1000 cardM__size-button">
                  1000гр
                </button>
              </div>
              <div class="cardM__stars">★ 4.8 (6790 оценок)</div>
              <div class="cardM__availability">● Доставим по клику</div>
              <button class="card__cart">
                <span class="card__cart-amount"></span>
                <p>в корзину</p>
                <img src="{{ url_for('static', filename='images/Shopping__cart-icon-button.svg') }}" alt="Cart" />
              </button>
            </div>
          </div>
          <!-- Card Number 8 -->
          <div
            class="cardM"
            data-price-1000="1019"
            data-img-1000="{{ url_for('static', filename='images/cards__image/kuragaMixWalnuts-1000.webp') }}"
          >
            <div class="cardM__slider">
              <img
                class="cardM__slider-img cardM__slider-img-first active"
                src="{{ url_for('static', filename='images/cards__image/kuragaMixWalnuts-1000.webp') }}"
                alt="KuragaMix"
              />
              <img
                class="cardM__slider-img"
                src="{{ url_for('static', filename='images/cards__image/kuragaMixSamin2.webp') }}"
                alt="KuragaMix"
              />
              <img
                class="cardM__slider-img"
                src="{{ url_for('static', filename='images/cards__image/pinkPagckaging.webp') }}"
                alt="KuragaMix"
              />
            </div>
            <div class="cardM__content">
              <div class="cardM__price">1019 ₽</div>
              <div class="cardM__title">
                Курага натуральная и сушёная ассорти без косточек
              </div>
              <div class="cardM__size">
                <button class="cardM__size-1000 cardM__size-button">
                  1000гр
                </button>
              </div>
              <div class="cardM__stars">★ 5.0 (561 оценок)</div>
              <div class="cardM__availability">● Доставим по клику</div>
              <button class="card__cart">
                <span class="card__cart-amount"></span>
                <p>в корзину</p>
                <img src="{{ url_for('static', filename='images/Shopping__cart-icon-button.svg') }}" alt="Cart" />
              </button>
            </div>
          </div>
          <!-- Card Number 9 -->
          <div
            class="cardM"
            data-price-500="799"
            data-price-1000="1289"
            data-img-500="{{ url_for('static', filename='images/cards__image/almondWalnuts-500.jpeg') }}"
            data-img-1000="{{ url_for('static', filename='images/cards__image/almondSamin-1000.jpeg') }}"
          >
            <div class="cardM__slider">
              <img
                class="cardM__slider-img cardM__slider-img-first active"
                src="{{ url_for('static', filename='images/cards__image/almondSamin-1000.jpeg') }}"
              />
              <img
                class="cardM__slider-img"
                src="{{ url_for('static', filename='images/cards__image/almondSamin2.jpeg') }}"
              />
              <img
                class="cardM__slider-img"
                src="{{ url_for('static', filename='images/cards__image/almondSamin3.jpeg') }}"
              />
              <img
                class="cardM__slider-img"
                src="{{ url_for('static', filename='images/cards__image/orangePackaging.webp') }}"
              />
            </div>
            <div class="cardM__content">
              <div class="cardM__price">1289 ₽</div>
              <div class="cardM__title">
                Миндаль сушёный крупный, свежий урожай от производителя
              </div>
              <div class="cardM__size">
                <button class="cardM__size-500 cardM__size-button">
                  500гр
                </button>
                <button class="cardM__size-1000 cardM__size-button">
                  1000гр
                </button>
              </div>
              <div class="cardM__stars">★ 4.7 (8990 оценок)</div>
              <div class="cardM__availability">● Доставим по клику</div>
              <button class="card__cart">
                <span class="card__cart-amount"></span>
                <p>в корзину</p>
                <img src="{{ url_for('static', filename='images/Shopping__cart-icon-button.svg') }}" alt="Cart" />
              </button>
            </div>
          </div>
          <!-- coding for the experience card -->
          <!-- Card Number 10 -->
          <div
            class="cardM"
            data-price-500="899"
            data-price-1000="1389"
            data-img-500="{{ url_for('static', filename='images/cards__image/keshS500.webp') }}"
            data-img-1000="{{ url_for('static', filename='images/cards__image/keshS1000.webp') }}"
          >
            <div class="cardM__slider">
              <img
                class="cardM__slider-img cardM__slider-img-first active"
                src="{{ url_for('static', filename='images/cards__image/keshS1000.webp') }}"
              />
              <img
                class="cardM__slider-img"
                src="{{ url_for('static', filename='images/cards__image/keshS2.webp') }}"
              />
              <img
                class="cardM__slider-img"
                src="{{ url_for('static', filename='images/cards__image/keshS3.webp') }}"
              />
              <img
                class="cardM__slider-img"
                src="{{ url_for('static', filename='images/cards__image/orangePackaging.webp') }}"
              />
            </div>
            <div class="cardM__content">
              <div class="cardM__price">1389 ₽</div>
              <div class="cardM__title">
                Кешью сушёный крупный, свежий урожай от производителя
              </div>
              <div class="cardM__size">
                <button class="cardM__size-500 cardM__size-button">
                  500гр
                </button>
                <button class="cardM__size-1000 cardM__size-button">
                  1000гр
                </button>
              </div>
              <div class="cardM__stars">★ 4.9 (3127 оценок)</div>
              <div class="cardM__availability">● Доставим по клику</div>
              <button class="card__cart">
                <span class="card__cart-amount"></span>
                <p>в корзину</p>
                <img src="{{ url_for('static', filename='images/Shopping__cart-icon-button.svg') }}" alt="Cart" />
              </button>
            </div>
          </div>
          <!-- coding for the experience card -->
          <!-- Card Number 11 -->
          <div
            class="cardM"
            data-price-500="949"
            data-price-1000="1489"
            data-img-500="{{ url_for('static', filename='images/cards__image/keshJ500.webp') }}"
            data-img-1000="{{ url_for('static', filename='images/cards__image/keshJ1000.webp') }}"
          >
            <div class="cardM__slider">
              <img
                class="cardM__slider-img cardM__slider-img-first active"
                src="{{ url_for('static', filename='images/cards__image/keshJ1000.webp') }}"
              />
              <img
                class="cardM__slider-img"
                src="{{ url_for('static', filename='images/cards__image/keshJ2.webp') }}"
              />
              <img
                class="cardM__slider-img"
                src="{{ url_for('static', filename='images/cards__image/keshJ3.webp') }}"
              />
              <img
                class="cardM__slider-img"
                src="{{ url_for('static', filename='images/cards__image/orangePackaging.webp') }}"
              />
            </div>
            <div class="cardM__content">
              <div class="cardM__price">1489 ₽</div>
              <div class="cardM__title">
                Жареный кешью, с отличной прожаркой, свежий урожай от
                производителя
              </div>
              <div class="cardM__size">
                <button class="cardM__size-500 cardM__size-button">
                  500гр
                </button>
                <button class="cardM__size-1000 cardM__size-button">
                  1000гр
                </button>
              </div>
              <div class="cardM__stars">★ 4.8 (3828 оценок)</div>
              <div class="cardM__availability">● Доставим по клику</div>
              <button class="card__cart">
                <span class="card__cart-amount"></span>
                <p>в корзину</p>
                <img src="{{ url_for('static', filename='images/Shopping__cart-icon-button.svg') }}" alt="Cart" />
              </button>
            </div>
          </div>
          <!-- coding for the experience card -->
          <!-- Card Number 12 -->
          <div
            class="cardM"
            data-price-500="969"
            data-price-1000="1589"
            data-img-500="{{ url_for('static', filename='images/cards__image/smesP500.webp') }}"
            data-img-1000="{{ url_for('static', filename='images/cards__image/smesP1000.webp') }}"
          >
            <div class="cardM__slider">
              <img
                class="cardM__slider-img cardM__slider-img-first active"
                src="{{ url_for('static', filename='images/cards__image/smesP1000.webp') }}"
              />
              <img
                class="cardM__slider-img"
                src="{{ url_for('static', filename='images/cards__image/smesP2.webp') }}"
              />
              <img
                class="cardM__slider-img"
                src="{{ url_for('static', filename='images/cards__image/smesP3.webp') }}"
              />
              <img
                class="cardM__slider-img"
                src="{{ url_for('static', filename='images/cards__image/orangePackaging.webp') }}"
              />
            </div>
            <div class="cardM__content">
              <div class="cardM__price">1589 ₽</div>
              <div class="cardM__title">
                Смесь орехов ПРЕМИУМ, крупных и натуральных орехов без
                сухофруктов
              </div>
              <div class="cardM__size">
                <button class="cardM__size-500 cardM__size-button">
                  500гр
                </button>
                <button class="cardM__size-1000 cardM__size-button">
                  1000гр
                </button>
              </div>
              <div class="cardM__stars">★ 4.7 (11232 оценок)</div>
              <div class="cardM__availability">● Доставим по клику</div>
              <button class="card__cart">
                <span class="card__cart-amount"></span>
                <p>в корзину</p>
                <img src="{{ url_for('static', filename='images/Shopping__cart-icon-button.svg') }}" alt="Cart" />
              </button>
            </div>
          </div>
          <!-- coding for the experience card -->
          <!-- Card Number 13 -->
          <div
            class="cardM"
            data-price-500="799"
            data-price-1000="1289"
            data-img-500="{{ url_for('static', filename='images/cards__image/makad500.webp') }}"
            data-img-1000="{{ url_for('static', filename='images/cards__image/makad1000.webp') }}"
          >
            <div class="cardM__slider">
              <img
                class="cardM__slider-img cardM__slider-img-first active"
                src="{{ url_for('static', filename='images/cards__image/makad1000.webp') }}"
              />
              <img
                class="cardM__slider-img"
                src="{{ url_for('static', filename='images/cards__image/makad2.webp') }}"
              />
              <img
                class="cardM__slider-img"
                src="{{ url_for('static', filename='images/cards__image/makad3.webp') }}"
              />
              <img
                class="cardM__slider-img"
                src="{{ url_for('static', filename='images/cards__image/orangePackaging.webp') }}"
              />
            </div>
            <div class="cardM__content">
              <div class="cardM__price">1289 ₽</div>
              <div class="cardM__title">
                Орехи Макадамия, свежие, натуральные и крупные
              </div>
              <div class="cardM__size">
                <button class="cardM__size-500 cardM__size-button">
                  500гр
                </button>
                <button class="cardM__size-1000 cardM__size-button">
                  1000гр
                </button>
              </div>
              <div class="cardM__stars">★ 4.8 (23767 оценок)</div>
              <div class="cardM__availability">● Доставим по клику</div>
              <button class="card__cart">
                <span class="card__cart-amount"></span>
                <p>в корзину</p>
                <img src="{{ url_for('static', filename='images/Shopping__cart-icon-button.svg') }}" alt="Cart" />
              </button>
            </div>
          </div>
          <!-- coding for the experience card -->
          <!-- Card Number 14 -->
          <div
            class="cardM"
            data-price-500="999"
            data-price-1000="1789"
            data-img-500="{{ url_for('static', filename='images/cards__image/fisJ500.webp') }}"
            data-img-1000="{{ url_for('static', filename='images/cards__image/fisJ1000.webp') }}"
          >
            <div class="cardM__slider">
              <img
                class="cardM__slider-img cardM__slider-img-first active"
                src="{{ url_for('static', filename='images/cards__image/fisJ1000.webp') }}"
              />
              <img
                class="cardM__slider-img"
                src="{{ url_for('static', filename='images/cards__image/fisJ2.webp') }}"
              />
              <img
                class="cardM__slider-img"
                src="{{ url_for('static', filename='images/cards__image/fisJ3.webp') }}"
              />
              <img
                class="cardM__slider-img"
                src="{{ url_for('static', filename='images/cards__image/pinkPagckaging.webp') }}"
              />
            </div>
            <div class="cardM__content">
              <div class="cardM__price">1789 ₽</div>
              <div class="cardM__title">
                Калифорнийские жареные фисташки, натуральные и крупные от
                производителя
              </div>
              <div class="cardM__size">
                <button class="cardM__size-500 cardM__size-button">
                  500гр
                </button>
                <button class="cardM__size-1000 cardM__size-button">
                  1000гр
                </button>
              </div>
              <div class="cardM__stars">★ 4.7 (13283 оценок)</div>
              <div class="cardM__availability">● Доставим по клику</div>
              <button class="card__cart">
                <span class="card__cart-amount"></span>
                <p>в корзину</p>
                <img src="{{ url_for('static', filename='images/Shopping__cart-icon-button.svg') }}" alt="Cart" />
              </button>
            </div>
          </div>
          <!-- coding for the experience card -->
          <!-- Card Number 15 -->
          <div
            class="cardM"
            data-price-500="999"
            data-price-1000="1789"
            data-img-500="{{ url_for('static', filename='images/cards__image/fisS500.webp') }}"
            data-img-1000="{{ url_for('static', filename='images/cards__image/fisS1000.webp') }}"
          >
            <div class="cardM__slider">
              <img
                class="cardM__slider-img cardM__slider-img-first active"
                src="{{ url_for('static', filename='images/cards__image/fisS1000.webp') }}"
              />
              <img
                class="cardM__slider-img"
                src="{{ url_for('static', filename='images/cards__image/fisS2.webp') }}"
              />
              <img
                class="cardM__slider-img"
                src="{{ url_for('static', filename='images/cards__image/fisS3.webp') }}"
              />
              <img
                class="cardM__slider-img"
                src="{{ url_for('static', filename='images/cards__image/orangePackaging.webp') }}"
              />
            </div>
            <div class="cardM__content">
              <div class="cardM__price">1789 ₽</div>
              <div class="cardM__title">
                Калифорнийские сушёные фисташки, крупные и натуральные от
                производителя
              </div>
              <div class="cardM__size">
                <button class="cardM__size-500 cardM__size-button">
                  500гр
                </button>
                <button class="cardM__size-1000 cardM__size-button">
                  1000гр
                </button>
              </div>
              <div class="cardM__stars">★ 4.9 (7524 оценок)</div>
              <div class="cardM__availability">● Доставим по клику</div>
              <button class="card__cart">
                <span class="card__cart-amount"></span>
                <p>в корзину</p>
                <img src="{{ url_for('static', filename='images/Shopping__cart-icon-button.svg') }}" alt="Cart" />
              </button>
            </div>
          </div>
          <!-- coding for the experience card -->
        </div>
        <div class="loading">
          <span class="loading__span"></span>
          <span class="loading__span"></span>
          <span class="loading__span"></span>
        </div>
      </div>
    </section>
    <!-- Coding for the menu section -->

    <!-- Start building the smart calculator -->
    <section class="section__calc section">
      <h1 class="common__header calc__header">Ореховый Калькулятор</h1>
      <div id="calc__wrapper">
        <div class="calc" id="section__calc">
          <input
            class="input__full"
            type="text"
            name=""
            id="name"
            placeholder="ваше имя"
          />
          <div class="common__container-gender">
            <label class="custom__radio">
              <input
                type="radio"
                name="gender"
                value="male"
                id="male"
                checked
              />
              <span class="custom__radio-mark"></span>
              Мужской
            </label>

            <label class="custom__radio">
              <input type="radio" name="gender" value="female" id="female" />
              <span class="custom__radio-mark"></span>
              Женский
            </label>
          </div>
          <input
            type="text"
            class="input__full input__half"
            name=""
            id="age"
            placeholder="ваш возраст"
          />
          <input
            type="text"
            class="input__full input__half"
            name=""
            id="weight"
            placeholder="ваш вес в (кг)"
          />
          <input
            type="text"
            class="input__full input__half"
            name=""
            id="height"
            placeholder="ваш рост в (см)"
          />
          <input
            class="input__full"
            type="text"
            name=""
            id="product__name"
            placeholder="вид продукта"
          />
          <div class="calc__button">
            <button class="show__btn1" id="show__btn1">Посчитать</button>
          </div>
          <div id="error__calc-result"></div>
        </div>
        <div class="calc calc__result" id="result__calc-div"></div>
      </div>
    </section>
    <!-- Start building the smart calculator -->

    <!-- Coding for the reviews section of the website -->
    <!-- Отзывы с 3D эффектом -->
    <section class="reviews-section section" id="section__4">
      <div class="review__container">
        <h2 class="reviews__title">Отзывы покупателей из других площадок</h2>
        <div class="review-slider">
          <div class="slide-track">
            <div class="slide">
              <p class="reviewer">Лариса Сапунова</p>
              <img
                class="avatar"
                src="{{ url_for('static', filename='images/avatars/larisa.png') }}"
                alt="Avatar"
              />
              <div class="review__stars">★★★★★</div>
              <p class="review-text">
                "Товар пришёл вовремя.Спасибо поставщику:орехи грецкие о,5 кг
                дешевле,чем в магазине ,свежие,упакованы хорошо, половинки
                орехов не раздроблены.Рекомендую поставщика!"
              </p>
            </div>
            <div class="slide">
              <p class="reviewer">Борис Васильевич</p>
              <img
                class="avatar"
                src="{{ url_for('static', filename='images/avatars/boris.png') }}"
                alt="Avatar"
              />
              <div class="review__stars">★★★★★</div>
              <p class="review-text">
                "Оптимальная упаковка- прочная, прозрачная. Орехи, что
                называется, - зернышко к зернышку, ни одного ломаного, никакой
                трухи. Вкус орешек сладковатый слегка, с легким вяжущим эффектом
                , вкусные, цвет приятный- присущий свежему ореху, не сырой и не
                пересушен. Словом, продукт очень хорошего качества!"
              </p>
            </div>
            <div class="slide">
              <p class="reviewer">Сергей Копытов</p>
              <img
                class="avatar"
                src="{{ url_for('static', filename='images/avatars/sergey.png') }}"
                alt="Avatar"
              />
              <div class="review__stars">★★★★★</div>
              <p class="review-text">
                "Часто делаю заказы Нравится большой выбор товаров. Брака пока
                небыло.Получаю в постамате .Сообщение приходит на телефон
                вовремя. Все очень даже удобно."
              </p>
            </div>
            <div class="slide">
              <p class="reviewer">Aleksey Kovalenok</p>
              <div class="avatar">
                <p class="avatar__text">AK</p>
              </div>
              <div class="review__stars">★★★★★</div>
              <p class="review-text">
                "1. Вкус: шикарный. Ощущается вкус манго и аромат 2. Текстура:
                влажность (просушка) оптимальная, при откусывании ощущаются
                немного волокна, но это как раз добавляет "натуральность"
                продукту 3. Отсутствие сахара в составе: действительно, по
                вкусовым ощущениям это натуральный продукт, без использования
                сахара. Используется антислеживающий агент, но что это за
                пищевая добавка - не определили. 4. Цена: ровно вдвое ниже за
                такой же граммаж (500 г), чем в сетевом предприятии мелкооптовой
                торговли. При этом, здесь мы получили натуральный продукт без
                сахара, а в торговле найти сушеное манго без тростникового
                сахара ОЧЕНЬ сложно."
              </p>
            </div>
            <div class="slide">
              <p class="reviewer">Роман Петров</p>
              <div class="avatar">
                <p class="avatar__text">РП</p>
              </div>
              <div class="review__stars">★★★★★</div>
              <p class="review-text"></p>
              <p class="review-text">
                "Лучший сервис на Wildberries! Натуральный вкус и качество."
              </p>
            </div>
            <!-- дублируем слайды для бесконечного цикла -->
            <div class="slide">
              <p class="reviewer">Людмила З</p>
              <img
                class="avatar"
                src="{{ url_for('static', filename='images/avatars/ludmila.png') }}"
                alt="Avatar"
              />
              <div class="review__stars">★★★★★</div>
              <p class="review-text">
                "Не в первый раз заказываю курагу 'samin'. Все устраивает:
                упаковка, внешний вид товара, вкус, степень свежести. Хороший
                производитель, менять не собираюсь."
              </p>
            </div>
            <div class="slide">
              <p class="reviewer">Алексей П.</p>
              <div class="avatar">
                <p class="avatar__text">AП</p>
              </div>
              <p class="review-text"></p>
              <div class="review__stars">★★★★★</div>
              <p class="review-text">
                "Мягкая, мясистая, вкусная (сладкая с небольшой приятной
                кислинкой), отборная (одинакового размера, не повреждённая, без
                следов болезни, однородного окраса), чистая (за съеденные пол
                пачки камней и песка не попалось)."
              </p>
            </div>
            <!-- <div class="slide">
              <p class="reviewer">Александр Калинин</p>
              <img
                class="avatar"
                src="./images/avatars/default-avatar.png"
                alt="Avatar"
              />
              <p class="review-text">
                "Смесь понравилась. Орехов и изюма поровну. Арахиса чуть больше,
                но и других орехов хватает. Арахис крупный, очищенный, не
                жесткий. И другие орехи не жесткие. Смесь чистая, перед
                употреблением не мыла. Очень вкусно"
              </p>
            </div> -->
          </div>
        </div>
      </div>
      <div class="reviewsAll">
        <div class="common__container reviewsAll__container">
          <h1 class="common__header reviewsAll__header">
            Все наши <span>отзывы</span> можете посмотреть на ниже указанных
            платформах
          </h1>
          <div class="reviewsAll__icons">
            <a
              href="https://market.yandex.ru/business--walnuts/1043529?generalContext=t%3DshopInShop%3Bi%3D1%3Bbi%3D1043529%3B&rs=eJwzkvvEKM3BKLDwEKsEg8a3k6waUybvZ9f4tnmVrMa2fatkAahfC_Q%2C&searchContext=sins_ctx&fullGeneralContext="
              ><img src="{{ url_for('static', filename='images/logos/yandex-market-seeklogo.svg') }}"
            /></a>
            <a href="https://www.wildberries.ru/seller/4247276"
              ><img
                src="{{ url_for('static', filename='images/logos/wildberries-seeklogo-2.svg') }}"
                alt="Wildberries Logo"
            /></a>
            <a
              href="https://www.ozon.ru/seller/sr-market-2136694/?miniapp=seller_2136694"
              ><img src="{{ url_for('static', filename='images/logos/ozon-seeklogo.svg') }}" alt="Ozon Logo"
            /></a>
          </div>
        </div>
      </div>
    </section>
    <!-- Coding for the reviews section of the website -->

    <!-- Coding for the footer of the website  -->
    <footer class="footer">
      <div class="footer__container common__container">
        <img
          src="{{ url_for('static', filename='images/logoWalnuts-welcome-page.svg') }}"
          alt="Logotype"
          class="footer__logo"
        />
        <div class="footer__others">
          <h2 class="footer__mini-header">Другие платформы</h2>
          <ul>
            <li>
              <a class="footer__links" href="" class="other__platforms-links"
                >Яндекс Маркет</a
              >
            </li>
            <li>
              <a class="footer__links" href="" class="other__platforms-links"
                >Вайлдберриз</a
              >
            </li>
            <li>
              <a class="footer__links" href="" class="other__platforms-links"
                >Озон</a
              >
            </li>
            <li>
              <a class="footer__links" href="" class="other__platforms-links"
                >Мегамаркет</a
              >
            </li>
          </ul>
        </div>
        <div class="footer__others">
          <h2 class="footer__mini-header">Социальные сети</h2>
          <ul>
            <li><a class="footer__links" href="#!">Инстаграмм</a></li>
            <li><a class="footer__links" href="#!">В контакте</a></li>
            <li><a class="footer__links" href="#!">Facebook</a></li>
          </ul>
        </div>
        <div class="footer__map">
          <h2 class="footer__mini-header">Наше местоположение</h2>
          <div class="map-container">
            <iframe
              src="https://maps.google.com/maps?q=55.601000,37.471100&z=15&output=embed"
              width="100%"
              height="250"
              style="border: 0"
              allowfullscreen
              loading="lazy"
            ></iframe>
          </div>
        </div>
      </div>
    </footer>
    <footer class="last__footer">
      <div class="last__footer-content">© 2023 Samin. Все права защищены.</div>
    </footer>
    <!-- Coding for the footer of the website  -->

    <!-- Connecting scripts -->
    <script src="{{ url_for('static', filename='js/commonScript.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/calc.js') }}"></script>
  </body>
</html>
